@font-face {
  font-family: N27;
  src: url("font/N27-Regular.otf");
}

body{
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #c7b29e;
}

.main {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12.25em;
  }
  
  .antenna {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #f27405;
    margin-bottom: -6.5em;
    margin-left: 8em;
    z-index: -1;
  }
  .a1 {
    position: relative;
    top: -65%;
    left: -116%;
    width: 12em;
    height: 4em;
    border-radius: 50px;
    background-color: red;
    background-image: linear-gradient(
      #171717,
      #171717,
      #353535,
      #353535,
      #171717
    );
    transform: rotate(-29deg);
    clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
  }
  .a1d {
    position: relative;
    top: -145%;
    left: -22%;
    transform: rotate(45deg);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #979797;
    z-index: 99;
  }
  .a2 {
    position: relative;
    top: -160%;
    left: -22%;
    width: 12em;
    height: 4em;
    border-radius: 50px;
    background-color: #171717;
    background-image: linear-gradient(
      #171717,
      #171717,
      #353535,
      #353535,
      #171717
    );
    transform: rotate(30deg);
    margin-right: 5em;
    clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
  }
  .a2d {
    position: relative;
    top: -240%;
    left: 109%;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #979797;
    z-index: 99;
  }
  
  .notfound_text {
    background-color: black;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: 0.9em;
    color: white;
    letter-spacing: 0;
    border-radius: 5px;
    font-family: N27;
  }
  .tv {
    width: 17em;
    height: 9em;
    margin-top: 3em;
    border-radius: 15px;
    background-color: #d36604;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
    border: 2px solid #1d0e01;
  }
  .display_div {
    width: 11.25em;
    height: 8em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .screen_out {
    width: auto;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
  }
  .screen_out1 {
    width: 9.5em;
    height: 6.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-top: 0.7em solid #c56d00;
    border-bottom: 0.7em solid #c56d00;
    border-left: 0.7em solid #e69635;
    border-right: 0.7em solid #e69635;
  }
  .screen {
    width: 12em;
    height: 6.5em;
    border: 2px solid #1d0e01;
    background: repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 60% 60%/2500px
        2500px;
    background-blend-mode: difference;
    animation: noise 0.2s infinite alternate;
    border-radius: 0px;
    box-shadow: 0 0 25px 0px #ffffff8a, inset 0 0 15px #ffffff8a;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #252525;
    letter-spacing: 0.15em;
    text-align: center;
  }
  @keyframes noise {
    100% {
      background-position: 50% 0, 60% 50%;
    }
  }
  
  .buttons_div {
    width: 3em;
    height: 6.75em;
    background-color: #e69635;
    border: 2px solid #1d0e01;
    padding: 0.6em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.75em;
  }
  .b1 {
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: #7f5934;
    border: 2px solid black;
  }
  .b1::after {
    content: "";
    position: absolute;
    margin-top: 0.2em;
    margin-left: 0.55em;
    transform: rotate(45deg);
    width: 0.15em;
    height: 0.9em;
    background-color: #000000;
  }
  .b2 {
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: #7f5934;
    border: 2px solid black;
  }
  .b2::after {
    content: "";
    position: absolute;
    margin-top: 0.2em;
    margin-left: 0.55em;
    transform: rotate(-45deg);
    width: 0.15em;
    height: 0.9em;
    background-color: #000000;
  }
  .speakers {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
  .speakers .g1 {
    display: flex;
    column-gap: 0.25em;
  }
  .speakers .g1 .g11,
  .g12,
  .g13 {
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    background-color: #7f5934;
    border: 2px solid black;
  }
  .speakers .g {
    width: auto;
    height: 2px;
    background-color: #171717;
  }
  
  .bottom {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8.7em;
  }
  .base1 {
    height: 1em;
    width: 2em;
    border: 2px solid #171717;
    background-color: #4d4d4d;
    margin-top: -0.15em;
    z-index: -1;
  }
  .base2 {
    height: 1em;
    width: 2em;
    border: 2px solid #171717;
    background-color: #4d4d4d;
    margin-top: -0.15em;
    z-index: -1;
  }
  .base3 {
    position: absolute;
    height: 0.15em;
    width: 17.5em;
    background-color: #171717;
    margin-top: 1em;
  }
  
  .text_404 {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 8em;
    z-index: -5;
    margin-bottom: 7em;
    opacity: 0.5;
    font-family: N27;
  }
  .text_4041 {
    transform: scaleY(30) scaleX(12);
  }
  .text_4042 {
    transform: scaleY(30) scaleX(12);
  }
  .text_4043 {
    transform: scaleY(30) scaleX(12);
  }

.s_text{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
p{
  font-family: N27;
  font-weight: bold;
}  
.fix{
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: N27;
  font-weight: bold;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  transition: .2s ease-in-out;
}

.fix:hover{
  background-color: #7F5934;
  color: white;
  border: 1px solid #7F5934;
  cursor: pointer;
}


@media only screen and (max-width: 495px) {
  .text_404 {
    column-gap: 6em;
  }
}
@media only screen and (max-width: 395px) {
  body{
    overflow: auto;
  }
  .text_404 {
    column-gap: 4em;
  }
  .text_4041 {
    transform: scaleY(25) scaleX(8);
  }
  .text_4042 {
    transform: scaleY(25) scaleX(8);
  }
  .text_4043 {
    transform: scaleY(25) scaleX(8);
  }
}

@media (max-width: 275px), (max-height: 520px) {
  body{
    overflow: auto;
    height: 100vh;
  }
  .main {
    position: relative;
  }
}
