body{
    animation:transitionIn 1s;
}

@font-face {
    font-family: Caviar Dreams;
    src: url("caviardreams.ttf");
}

@font-face {
    font-family: Caviar Dreams;
    src: url("caviardreams_bold.ttf");
    font-weight: bold;
}

@keyframes transitionIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/*<!------------------------------------------ CURSOR ------------------------------------------>*/

